@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Mynerve&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
body {
    
    margin: 0;
    padding: 20px;
    background-color: blue;
}

header {
    text-align: center;
    background-color: pink;
    padding: 10px;
    color: #fff;
    font-family: 'Aldrich', sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: beige;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #555;
    margin-top: 20px;
}


p {
    line-height: 1.5;
    padding: 10px;
}
video {
    max-width: 100%;
    height: auto;
    justify-content: center;
}
.container video{
    place-content: center;
}