@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Mynerve&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

body {
    
    margin: 0;
    padding: 20px;
    background-color: black;
}

header {
    text-align: center;
    background-color: rgba(214, 182, 3, 0.678);
    padding: 10px;
    font-family: 'Aldrich', sans-serif;
    color:white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(172, 255, 47, 0.61);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    color: #555;
    margin-top: 20px;
}

#hero-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

#hero-info {
    font-weight: bold;
}

p {
    line-height: 1.5;
}
video{
    max-width: 100%;
    height: auto;
}
