@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Mynerve&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');
body {
    margin: 0;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

header {
    text-align: center;
    background-color: rgba(65, 34, 16, 0.74);
    padding: 10px;
    font-family: 'Aldrich', sans-serif;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color:purple;
    padding: 30px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: black;
    margin-top: 20px;
}

#hero-image {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

#hero-info {
    font-weight: bold;
}

p {
    line-height: 1.5;
}
video{
    max-width: 100%;
    height: auto;
}