@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Mynerve&family=Poppins:wght@200&family=Roboto:wght@300&display=swap');

/* Importing Google Fonts for custom typography */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Resetting padding and margin for all elements and using border-box box-sizing */

body {
    margin: 0;
    padding: 20px;
}

/* Setting margin and padding for the body element */

header {
    background-color: rgb(245, 120, 4);
    padding: 40px;
    margin-top: auto;
    font-family: 'Aldrich', sans-serif;
}

/* Styling the header element with a background color, padding, margin-top, and custom font */

h1 {
    text-align: center;
    color: #fff;
    margin: 0;
}

/* Center aligning the h1 element, setting color to white, and removing margin */

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
}

/* Styling the main container with a maximum width, margin, padding, border-radius, box-shadow, flexbox properties, and custom font */

.container table,
p {
    padding-bottom: 20px;
}

/* Applying padding-bottom to tables and paragraphs inside the container */

h2 {
    margin-top: 30px;
    color: #333;
}

/* Setting margin-top and color for h2 elements */

a {
    color: black;
    text-decoration: none;
}

/* Setting color and removing text-decoration for anchor elements */

.nav:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
}

/* Changing background color and text color on hover for the navigation element with a transition effect */

img {
    max-width: 100%;
}

/* Ensuring images fit within their containers */

td {
    text-align: center;
    width: 300px;
    margin: 20px;
}

/* Center aligning table cells, setting a fixed width, and applying margin */

.about h2,
h3,
p {
    padding-bottom: 20px;
}

/* Applying padding-bottom to h2, h3, and p elements inside the "about" class */

table img {
    padding: 4px;
}

/* Applying padding to images inside tables */

.space {
    position: relative;
    padding-left: 40px;
    align-items: center;
    justify-content: center;
}

/* Setting relative position, padding-left, and alignment properties for the space element */




